body {
    font-family: "Book Antiqua","Georgia Pro", "Times New Roman", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.212);
    color: #000000;
    /* background-image: url('image/blur.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
 
  .name{
    font-family: "Book Antiqua";
    font-size: 32px;
    line-height: 1;
    font-weight: bold;
  }

.ab{
  font-family: "Book Antiqua";
    font-size: 32px;
    line-height: 1;
    font-weight: bold;
}
  
  body, h1, h2, h3, p {
    font-family: "Book Antiqua";
  }
.about-me{
  font-family: "Book Antiqua";
    font-size: 16px;
    line-height: 1.5;
}
  
.university-name {
    font-family: "Book Antiqua";
    font-size: 16px;
    line-height: 1.5;
  }
  
  .email {
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
  }
  h1 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  h3 {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  ul {
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  li {
    margin-bottom: 10px;
  }

  .frozen-text {
    animation: freeze 5s linear infinite;
  }
  
  @keyframes freeze {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-5px);
    }
  }


  hr {
    border: 0;
    height: 0.1px;
    background-color: rgb(255, 0, 0);
    width: 100%;
  }
  


  .footnotes {
    font-size: smaller;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    padding: 1em;
  }
  
  sup {
    position: relative;
    top: -0.5em;
    font-size: smaller;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  

  .text {
    color: black;
  }

  .button-center {
    text-align: center;
  }
  

  .container {
    display: flex;
    justify-content: space-between;
  }
  
  .word-left, .word-right {
    margin: 0 10px;
  }

  .button {
    margin: 0 10px;
  }

  .copyright {
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 24px;
    font-size: 2vmin;
  }
  
  .last-updated {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 24px;
    font-size: 2vmin;
  }
  






  .name-plate {
    display: flex;
    align-items: 0;
    margin: 5px;
  }
  
  .profile-pic {
    border-radius: 20%;
    width: 50px;
    height: 100%;
    margin-right: 20px;
  }
  
  .info {
    text-align: left;
  }
  
  .name_1 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .title {
    font-size: 10px;
    margin-bottom: 20px;
    color:rgba(46, 39, 39, 0.832);
  }
  
  .description {
    font-size: 12px;
    line-height: 1;
    width: 400px;
  }


  
  
